{% extends "admin/change_list.html" %}
{% load humanize %}

{% block content_title %}
    <h1> Sales Summary </h1>
{% endblock %}

{% block result_list %}
    <div class="results">
    <table>
        <thead>
        <tr>
            <th>
            <div class="text">
                <a href="#">Інформація про користувача</a>
            </div>
            </th>
            <th>
            <div class="text">
                <a href="#">Інорфмація про оплату</a>
            </div>
            </th>
            <th>
            <div class="text">
                <a href="#">Сума</a>
            </div>
            </th>
            <th>
            <div class="text">
                <a href="#">Програма</a>
            </div>
            </th>
            <th>
            <div class="text">
                <a href="#">Адміністративні витрати</a>
            </div>
            </th>
            <th>
            <div class="text">
                <a href="#">Оплата</a>
            </div>
            </th>
            <th>
            <div class="text">
                <a href="#">Створений</a>
            </div>
            </th>
        </tr>
        </thead>

        <tbody>
        {% for row in summary %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td> Ім'я: {{ row.full_name }} <br> Email: {{ row.email }} <br> Номер телефону: {{ row.phone_number}} </td>
            <td> Спосіб оплати: {{ row.payment_method }} <br> Початок оплати: {{ row.payment_beginning }} </td>
            <td> {{ row.money_amount_evaluated }} </td>
            <td> {{ row.program }} </td>
            <td> {{ row.administrative_costs_evaluated }} </td>
            <td> {% if row.payment_succeeded %} Успішно &#x2714; {% else %} Невдача &#x2716; {% endif %} </td>
            <td> {{ row.created }} </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>
{% endblock %}

{% block pagination %}{% endblock %}
